<section class="languages" {{did-insert this.changeLocale}}>
  <button type="button" {{on "click" this.changeLocale}}>
    <img src="assets/flags/pt-BR.svg" title="pt-BR"/>
    pt-br
  </button>
  <button type="button" {{on "click" this.changeLocale}}>
    <img src="assets/flags/en-US.svg" title="en-US"/>
    en-us
  </button>
  <button type="button" {{on "click" this.changeLocale}}>
    <img src="assets/flags/es-ES.svg" title="es-ES"/>
    es-es
  </button>
  <button type="button" {{on "click" this.changeLocale}}>
    <img src="assets/flags/fr-FR.svg" title="fr-FR"/>
    fr-fr
  </button>
  <button type="button" {{on "click" this.changeLocale}}>
    <img src="assets/flags/ru-RU.svg" title="ru-RU"/>
    ru-ru
  </button>
  <button type="button" {{on "click" this.changeLocale}}>
    <img src="assets/flags/zh-CN.svg" title="zh-CN"/>
    zh-cn
  </button>
</section>