<section class="languages" {{did-insert this.changeLocale}}>
  <button type="button" {{on "click" this.changeLocale}}>pt-br</button>
  <button type="button" {{on "click" this.changeLocale}}>en-us</button>
  <button type="button" {{on "click" this.changeLocale}}>es-es</button>
  <button type="button" {{on "click" this.changeLocale}}>fr-fr</button>
  <button type="button" {{on "click" this.changeLocale}}>ru-ru</button>
  <button type="button" {{on "click" this.changeLocale}}>zh-cn</button>
</section>