<section class={{concat "slide-content " @type}} {{did-insert this.slideAnimation}}>
  <div class="slides-slots">
    {{yield}}
  </div>
  {{#if @nav}}
    <div class="slide-navigation">
      <button {{on "click" this.nextHandler}} class="btn prev" type="button" name="button"></button>
      <button {{on "click" this.nextHandler}} class="btn next" type="button" name="button"></button>
    </div>
  {{/if}}
</section>