<section
  class={{concat "slide-content " @type}}
  {{initialize-animation this.initializeAnimation}}
  {{destroy-animation this.destroyAnimation}}
>
  <div class="slides-slots">
    {{yield}}
  </div>
  {{#if @nav}}
    <div class="slide-navigation">
      <button {{on "click" this.prevHandler}} class="btn prev" type="button" name="button">{{t "to_left"}}</button>
      <button {{on "click" this.nextHandler}} class="btn next" type="button" name="button">{{t "to_right"}}</button>
    </div>
    <div class="slide-bullets">
      {{#each this.slides as |slide index|}}
        <button
          class={{if (eq index this.activeSlideIndex) "bullet active" "bullet"}} type="button" {{on "click" (fn this.bulletHandler index)}}
        ></button>
      {{/each}}
    </div>
  {{/if}}
</section>
