<article class="slide-item {{@class}}">
  <a href={{@url}} target={{@target}} rel="noopener noreferrer">
    <h1>{{@title}}</h1>
    <img src={{@img}} alt={{@title}} />
    {{yield}}
  </a>
</article>